.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    width: 21vw;
    height: 56vh;
    min-width: 292px;
}

.user-avatar {
    border-radius: 140px;
    width: 280px;
}

.user-name {
    margin-bottom: 12px;
}

.user-name label {
    font-weight: 600;
    font-size: 26px;
}

.user-login a {
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
}

.container-following-info {
    display: flex;
}

.container-following-info > div {
    display: flex;
    margin-right: 20px;
}

.container-following-info svg {
    margin-right: 9px;
}

.container-following-info label {
    font-weight: normal;
    font-size: 16px;
}
