@import url('header.css');
@import url('pagination.css');
@import url('repos.css');
@import url('loader.css');
@import url('profile.css');

.main-application {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-page {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: space-around;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
